@media(max-width: 1334px){

    #header{
        text-align: center;
        flex-direction: row;
    }

    #menu > ul{
        margin-top: 20px;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}

@media(max-width: 650px){

    #content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top:20px;
        padding-bottom: 20px;
    } 
    
    #aside{
        margin-right: 0px;
    }

    #aside ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #aside ul li{
        flex-grow: 1;
        margin-left: 5px;
        margin-right: 5px;
    }

    .project{
        margin-right: 20px;
        margin-left: 20px;
    }

    #footer .logo{
        flex-grow: 1;
        order: 1;
        flex-basis: 100%;
        text-align: center;
        margin: 0px;
    }

    #footer .info{
        flex-grow: 1;
        order: 1;
        flex-basis: 100%;
        text-align: center;
        margin: 0px;
    }
}